.wrapper {
    height: 100vh;
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.animation {
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid white;
    color: #66FCF1;
    font-family: monospace;
    font-size: calc(30px + 2.75vw);;
    width: 15ch;
    animation: type 1.5s steps(15), blink .5s step-end infinite alternate;
    margin-top: -10%;
    margin-bottom: 7%;
    text-align: center;
}
.extra {
    margin-top: 0%;
    color: #1f2833;
    text-align: center;
    font-size: calc(15px + 1vw);
    animation: show 1.5s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
.down {
    height: 10vh;
    width: auto;
    position: absolute;
    margin-top: 40%;
    animation: delayed 0s 3s forwards;
    visibility: hidden;
}
@keyframes type {
    0% {
        width: 0ch;
    }
}
@keyframes blink {
    50% {
        border-color: transparent;
    }
}
@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        color: white;
    }
}
@keyframes delayed {
    to { visibility: visible;}
}