.wrapper {
    height: 100vh;
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.animation {
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid white;
    color: white;
    /* font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: 'Tahoma';
    font-size: calc(40px + 2vw);
    font-size: 5em;
    width: 17ch;
    animation: type 1.1s steps(80), blink .5s step-end infinite alternate;
    margin-top: -10%;
    margin-bottom: 5%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    float: left;
}

#homeCont {
    width: 100em;
    margin: 0 auto;
}

h1 > span {
    color: #66FCF1;
}

h3 > span {
    color: #1f2833;
    animation: showPt2 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
.extra {
    justify-content: center;
    margin-right: 2%;
    margin-left: 2%;
    color: #1f2833;
    float: right;
    text-align: center;
    font-size: calc(15px + 1.2vw);
    font-size: 3em;
    animation: show 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.homeCard {
    background-color: #10151b !important;
    border-radius: 30px;
    box-shadow: 3px 7px 5px -5px rgba(0,0,0,0.2),3px 5px 5px 3px rgba(0,0,0,0.14),3px 5px 9px 3px rgba(0,0,0,0.12);
    height: 4em;
    width: 100em;
}

.down {
    height: 10vh;
    width: auto;
    position: relative;
    top: 200%;
    margin-left: auto;
    margin-right: auto;
    animation: show 2s forwards;
    animation-delay: 2.5s;
    transition: all .25s ease-in-out; 
    opacity: 0;
    margin-bottom: -80%;
}
.down:hover {
    transform: scale(1.2);
}

.down:active {
    transform: translate3d(0, 20%, 0);
}

@keyframes type {
    0% {
        width: 1ch;
    }
}
@keyframes blink {
    50% {
        border-color: transparent;
    }
}
@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        color: white;
    }
}

@keyframes showPt2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        color: #66FCF1;
    }
}

@keyframes delayed {
    to { visibility: visible;}
}
